<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PL_LOL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76E52DB71F455C7E007C574A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76E52DD01F455C7F007C574A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76E52DDB1F455C7F007C574A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
