<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>最新</string>
		<key>urlString</key>
		<string>c12_list_1.shtml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>赛事</string>
		<key>urlString</key>
		<string>c73_list_1.shtml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>视频</string>
		<key>urlString</key>
		<string>http://lol.qq.com/m/act/a20150319lolapp/video.htm
http://lol.qq.com/m/act/a20150319lolapp/video.htm?APP_BROWSER_VERSION_CODE=1&amp;ios_version=729
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>娱乐</string>
		<key>urlString</key>
		<string>c18_list_1.shtml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>官方</string>
		<key>urlString</key>
		<string>c3_list_1.shtml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>攻略</string>
		<key>urlString</key>
		<string>c10_list_1.shtml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>活动</string>
		<key>urlString</key>
		<string>c23_list_1.shtml</string>
	</dict>
	<dict>
		<key>title</key>
		<string>推荐</string>
		<key>urlString</key>
		<string>c13_list_1.shtml</string>
	</dict>
</array>
</plist>
